<template>
    <div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--10-col img">
                <img :src="this.pics[$route.params.id].url"/>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <div class="info">
                    {{this.pics[$route.params.id].info}}
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <div class="comment">
                    {{this.pics[$route.params.id].comment}}
                </div>
            </div>
        </div>
        <router-link class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored home" to="/">
            <i class="material-icons">home</i>
        </router-link>
    </div>
</template>

<script>
import data from '../data'
export default {
  data () {
    return {
      'pics': data.pictures
    }
  }
}
</script>

<style scoped>
.home {
    position: fixed;
    right: 24px;
    bottom: 40px;
    z-index: 100;
    opacity: 100%;
    
}
.img > img {
    width: 100%;
}
.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
}
.comment {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 5px;
}
</style>

