<template>
<div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone test">
            <div v-for="pic in this.pics" class="card" @click="details(pic.id)">
                <div class="card-image">
                    <img :src="pic.url" />
                </div>
                <div class="card-comment mdl-card__actions">
                    <span>{{pic.comment}}</span>
                </div>                
            </div>
        </div>
    </div>
    <router-link class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add" to="/post">
      <i class="material-icons">add_a_photo</i>
    </router-link>
</div>
</template>

<script>
  import data from './../data'
  export default {
    methods: {
      details (id) {
        this.$router.push({name: 'details', params: { id: id }})
      }
    },
    data () {
      return {
        'pics': data.pictures
      }
    }
  }
</script>

<style scoped>
.add {
    position: fixed;
    right: 24px;
    bottom: 40px;
    z-index: 100;
    opacity: 100%;
    
}
.card{
    position: relative;
    margin-bottom: 5px;
}
.card-image {
    width: 100%;
}
img {
    width: 100%;
}
.card-comment {
    position: absolute;
    bottom: 0;
    height: 52px;
    padding: 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
}
  .card-comment > span {
    color: rgba(255, 255, 255, 0.973);
    font-size: 14px;
    font-weight: bold;
  }
</style>
